<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutOutputDuringTests="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    bootstrap="./vendor/autoload.php"
    colors="true"
    columns="max"
>
    <testsuites>
        <testsuite name="unit">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <!-- This makes PHPUnit run only ungrouped tests, excluding integrational -->
    <groups>
        <include>
            <group>default</group>
        </include>
    </groups>

    <source>
        <include>
            <directory>./src</directory>
        </include>
    </source>

    <php>
        <ini name="zend.enable_gc" value="0"/>
        <ini name="memory_limit" value="1G"/>
    </php>
</phpunit>
